:root {
    --red: #fa6262;
    --blue: #cae9f2;
    --bg-gray: #fbfbfb;
    --yellow: #fffacc;
    --green: #e2efc7;
    --pink: #efc7c7;
    --font-color: #000;
    --blue-solid: #a1dbed;
    --green-solid: #d4eda1;
  }
  body { 
    font-family: 'Poppins', sans-serif;
    margin: 0px; 
  }
  .mainContainer{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding-left: 3%;
  }
.containerHeader {
    display: flex;
    height: 10vh;
    width: 100%;
    color:var(--font-color);
    flex-direction: row;
    justify-content: space-between;
    padding-right: 7%;
}
.containerBodyLeft {
    display: flex;
    width: 50%;
    height: 80%;
    gap: 20px;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}
.containerBodyRight {
    display: flex;
    max-width: 40%;
    height: 100%;
    flex-wrap: wrap;
}
.info-Box {

    /* width: calc() totala bredden på contaionern minus padding typ*/
    display: flex; 
    position: relative;
    background-color: var(--bg-gray);
    width: 280px;
    height: 280px;
    flex-direction: column;
    box-shadow: 3px 4px 8px #c4c4c4;
    border-radius: 5%;
    justify-content: center;
    padding-left: 25px;
    gap: 20px;
}
.redBoxArrow{
    display: flex;
    height: 40px;
    width: 40px; 
    background-color: var(--red);
    position: absolute;
    justify-content: center;
    align-items: center;
    border-radius: 0px 0px 15px 0px;
    right: 0;
    bottom: 0;
}
.tags {
    display: flex;
    margin: 0px;
    gap: 10px;
}
.tag{
    height: 30px;
    width: 70px;
    background-color: var(--font-color);
    border-radius: 5px;
}
.info-Box > h3 {
     border: none;
    font-size: 36px;
    font-weight: bold;
    line-height: 95%;
    padding: 0px; 
    margin-bottom: 0px;
    margin-top: 0px;
}
.info-Box > p {
    font-size: 16px;
    max-width: 90%;
}
.containerBodyRight > h1 {
    font-size: 60px;
    margin-left: 50px;
}
.containerBodyRight > p {
    max-width: 65vh;
    font-size: 24px;
    margin-left: 50px;
}
.containerHeader > h2 {
    font-size: 36px;
    font-weight: bold;
    color: var(--red);
}
.containerHeader > div > h3 {
    word-spacing: 30px;
}
.buttonContainer {
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.bodyButton {
    width: 190px;
    height: 50px;
    border-radius:20px;
    display: flex;
    position: relative;
    align-items: center;
    font-size: 16px;
    margin-left: 50px;
}
.bodyButton > p {
    margin-left: 40px;
     
}
#buttonBlue {
    background-color: var(--blue);
}
#buttonGreen {
    background-color:var(--green);
}
.buttonBodyRight {
    display: flex;
    width: 50px;
    height: 50px;
    position: absolute;
    margin-left: 80%;
    border-radius: 40%;
    justify-content: center;
    align-items: center;
}
#iconGreen, .jobs, .animals {
    background-color: var(--green-solid);
}
#iconBlue {
    background-color: var(--blue-solid);
}
.icon {
    width: 144px;
    height: 81px;
}
.gothenburg {
    background-color: var(--yellow)
}
.money {
    background-color: var(--pink)
}